@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    /* outline: 1px red solid; */
}

body {
    font-family: 'Noto Sans TC', sans-serif, Arial, Helvetica;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    display: block;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.material-icons {
    background-color: rgba(107, 151, 64, 0.8);
    color: #fff;
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
}

.material-icons.md-48 {
    padding: 8px;
    font-size: 48px;
}

.btnTop {
    display: none;
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 99;
    transition: .3s;
}

.btnTop:hover {
    transform: translateY(-5px);
}


/* common spacing */

.index-story,
.index-popular,
.index-contact,
.menu-main,
.cart-main,
.login-main,
.register-main {
    padding-top: 240px;
}

.index-story,
.index-contact,
.menu-main,
.cart-main,
.login-main,
.register-main {
    padding-bottom: 240px;
}

.sectionTitle {
    margin-bottom: 32px;
}


/* common font */

h3 {
    font-size: 40px;
    color: #6A1817;
    font-weight: bold;
}

h4 {
    color: #6A1817;
    font-size: 32px;
}

h5 {
    color: #6A1817;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #6A1817;
    line-height: 1.7;
}

.price-num {
    font-weight: bold;
}


/* common title*/

.sectionTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionTitle span {
    display: block;
    width: 56px;
    height: 9px;
    background-color: #FBB265;
    margin-top: 8px;
    border-radius: 18px;
}


/* common button */

.btn-radius0,
.btn-radius18 {
    padding: 32px 48px;
    margin-top: 40px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}

.btn-radius0 {
    background-color: #FB9169;
    display: flex;
    align-items: center;
    transition: 1s;
}

.btn-radius0:hover {
    padding-right: 100px;
}

.btn-radius18 {
    border-radius: 18px;
    background-color: #6C9740;
}

.btn-count {
    display: flex;
    align-items: center;
    width: 100%;
}

.btn-count-minus,
.btn-count-plus,
.size-buttonList button {
    width: 50px;
    height: 50px;
    background-color: #6C9740;
    font-size: 32px;
    color: #FFF;
    border-radius: 50%;
}

.btn-count-minus:hover,
.btn-count-plus:hover,
.btn-radius18:hover {
    background-color: #64C500;
}

.btn-count-numTxt {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 32px;
    margin: 8px;
    background-color: #FFE4C7;
    color: #6A1817;
    font-size: 24px;
    border-radius: 25px;
}

.index-contact-icon img:hover,
.btn-delete:hover {
    filter: sepia(80%);
    cursor: pointer;
}


/* common form */


/* .form-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 16px;
}

.form-item>label {
    margin-bottom: 8px;
    color: #4E2F0B;
    font-weight: bold;
}

.form-item>input {
    padding: 8px;
    color: #4E2F0B;
    background-color: #FFF3DB;
    border: 1px solid #FBB265;
    font-size: 16px;
} */


/* common decorative line */

.bottom-decorativeLine {
    padding: 32px;
    background: -webkit-linear-gradient( rgba(255, 255, 255, .1), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient( rgba(255, 255, 255, .1), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background: -o-linear-gradient( rgba(255, 255, 255, .1), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    border-radius: 18px;
}

.index-story,
.index-contact-BG,
.menu-productList,
.cart-cartList,
.login-main,
.register-main {
    position: relative;
}

.index-story::before,
.index-story::after,
.index-contact-BG::before,
.index-contact-BG::after,
.menu-productList::before,
.menu-productList::after,
.bottom-decorativeLine::before,
.bottom-decorativeLine::after,
.cart-cartList::before,
.cart-cartList::after,
.main-decorativeLine::before,
.main-decorativeLine::after {
    content: "";
    position: absolute;
    background-color: #FF865F;
}


/* horizontal line */

.index-story::before,
.index-contact-BG::before,
.menu-productList::before,
.bottom-decorativeLine::before,
.cart-cartList::before,
.main-decorativeLine::before {
    width: 800px;
    height: 2px;
}

.index-story::before {
    top: 144px;
    right: -48px;
}

.index-contact-BG::before {
    top: 48px;
    left: -32px;
}

.menu-productList::before,
.cart-cartList::before {
    top: -48px;
    right: -64px;
}

.main-decorativeLine::before {
    top: 156px;
    right: 48px;
}

.bottom-decorativeLine::before {
    bottom: 156px;
    left: 48px;
}


/* straight line */

.index-story::after,
.index-contact-BG::after,
.menu-productList::after,
.bottom-decorativeLine::after,
.cart-cartList::after,
.main-decorativeLine::after {
    width: 2px;
    height: 568px;
}

.index-story::after {
    top: 112px;
    right: -8px;
    height: 664px;
}

.index-contact-BG::after {
    top: -56px;
    left: 30px;
}

.menu-productList::after,
.cart-cartList::after {
    top: -88px;
    right: -4%;
}

.main-decorativeLine::after {
    top: 96px;
    right: 6%;
}

.bottom-decorativeLine::after {
    bottom: 96px;
    left: 72px;
}


/* dotted line */

.productList-details::before,
.cartList-details-title::after {
    content: "";
    position: absolute;
    left: 0;
    background: linear-gradient(to right, #FBB265 0%, #FBB265 72%, transparent 50%);
    background: -webkit-linear-gradient(to right, #FBB265 0%, #FBB265 72%, transparent 50%);
    background: -moz-linear-gradient(to right, #FBB265 0%, #FBB265 72%, transparent 50%);
    background: -o-linear-gradient(to right, #FBB265 0%, #FBB265 72%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 20px 100%;
    width: 100%;
    height: 3px;
}

.productList-details::before {
    top: 0;
}

.cartList-details-title::after {
    bottom: 0;
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 72%, transparent 50%);
    background: -webkit-linear-gradient(to right, #FFFFFF 0%, #FFFFFF 60%, transparent 50%);
    background: -moz-linear-gradient(to right, #FFFFFF 0%, #FFFFFF 60%, transparent 50%);
    background: -o-linear-gradient(to right, #FFFFFF 0%, #FFFFFF 60%, transparent 50%);
    background-size: 14px 100%;
}


/* frangipani */

.index-productList-type1::after,
.index-productList-type2::after,
.menu-productList-type1::after,
.menu-productList-type2::after,
.cartList-details-title h5::after {
    content: "";
    position: absolute;
    top: 248px;
    right: 1%;
    width: 51px;
    height: 47px;
    background: url("../img/img-icon-frangipani.png") no-repeat;
}

.cartList-details-title h5::after {
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    right: -80%;
}


/* common productList item */

.index-productList-type1,
.index-productList-type2,
.menu-productList-type1,
.menu-productList-type2 {
    position: relative;
    width: 384px;
    border-radius: 18px;
    background: #FFFDEB;
    overflow: hidden;
}

.productList-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productList-item-title {
    position: absolute;
    top: 272px;
    right: 0;
    width: 211px;
    padding: 16px;
    background: #FBB265;
    -webkit-clip-path: polygon(15% 0%, 0% 100%, 100% 100%, 100% 0%);
}

.index-productList-type2 .productList-item-title,
.menu-productList-type2 .productList-item-title {
    background: #FEE75D;
}

.productList-item-p {
    padding: 48px 0 32px;
}

.productList-item-btnAddCart {
    padding: 32px;
    width: 100%;
    background-image: url("../img/img-btn-pattenY.png");
    font-size: 20px;
    color: #000;
}

.productList-item-btnAddCart:hover {
    opacity: .8;
}

.index-productList-type2 .productList-item-btnAddCart,
.menu-productList-type2 .productList-item-btnAddCart {
    background-image: url("../img/img-btn-pattenO.png");
}

.index-btnToMenu,
.menu-btnToCart {
    position: absolute;
    right: 0;
    bottom: -64px;
    z-index: 1;
}

.menu-btnToCart {
    bottom: 96px;
}

.index-btnToMenu img,
.menu-btnToCart img {
    margin-left: 8px;
}


/* header & banner */

.logo,
.footerLogo {
    overflow: hidden;
    width: 176px;
    height: 65px;
    background: url("../img/img-logo.svg") no-repeat;
    text-indent: 101%;
    white-space: nowrap;
}

.navBar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 16px 32px;
}

.navContent .nav-btnMenu {
    display: none;
    transition: .3s;
}

.nav-BG {
    height: 160px;
    background: url("../img/img-navBG-1920.png") no-repeat 50% 0;
    background-size: cover;
    opacity: 0.8;
}

.nav-menuList-pc {
    display: flex;
}

.nav-menuList-mb {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-20px);
    opacity: 0;
    transition: all .5s;
}

.nav-menuList-mb a {
    padding: 32px 0;
    white-space: nowrap;
    color: #4E2F0B;
    font-size: 24px;
}

.nav-menuList-mb-fadeIn {
    display: flex;
    z-index: 0;
    transform: translateX(0);
    opacity: 1;
}

.nav-menuList-pc a {
    padding: 16px;
    white-space: nowrap;
    color: #4E2F0B;
    text-align: center;
    font-size: 20px;
}

.nav-menuList-pc a:hover {
    color: #FF865F;
}

@media(max-width: 1200px) {
    .nav-BG {
        background: url("../img/img-navBG-1200.png") no-repeat 50% 0;
    }
    .navContent {
        padding: 16px 32px;
    }
}

@media(max-width: 768px) {
    .nav-BG {
        background: url("../img/img-navBG-768.png") no-repeat 50% 0;
    }
    .logo {
        transform: scale(0.9);
    }
    .nav-menuList-pc {
        display: none;
    }
    .navContent .nav-btnMenu {
        display: block;
    }
}

@media(max-width: 415px) {
    .nav-BG {
        background: url("../img/img-navBG-415.png") no-repeat 50% 0;
    }
    .navContent {
        padding: 8px;
    }
    .logo {
        transform: scale(0.8);
    }
}

.banner {
    position: relative;
    margin-top: -160px;
    height: 110vh;
    background: url("../img/img-banner.png") no-repeat 50% 50%;
    background-size: cover;
}

.img-banner-words {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50vw;
    transform: translate(-50%, 0);
    animation-name: wordsAnim;
    animation-duration: 5s;
    transition: .1s;
}

@keyframes wordsAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media(max-width: 1200px) {
    .banner {
        height: 100vh;
    }
    .img-banner-words {
        top: 20%;
        width: 60vw;
    }
}

@media(max-width:768px) {
    .banner {
        height: 60vh;
    }
    .img-banner-words {
        top: 25%;
        width: 50vw;
    }
}

@media(max-width:415px) {
    .banner {
        height: 45vh;
    }
    .img-banner-words {
        top: 40%;
        width: 60vw;
    }
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 0;
    background-color: #FF865F;
}

.footerLogo {
    background: url("../img/img-footerLogo.svg") no-repeat;
    margin: 0 auto 32px;
}

.footerContact li {
    text-align: center;
    color: #FFF;
}

.footerContact li:first-child {
    margin-bottom: 16px;
}


/* index-main */

.index-story {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.index-story img {
    margin-right: 20px;
    border-radius: 18px;
}

.index-story p {
    width: 40%;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

.index-ad {
    width: 100%;
    height: 645px;
    overflow: hidden;
    background-image: url("../img/img-index-ad.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.index-popular {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 384px !important;
}

.index-popular-swiper {
    border: 2px #FF865F solid;
}

.swiper-wrapper {
    padding: 32px 32px 88px;
    cursor: grab;
}

.index-contact-BG {
    margin: 0 32px 32px 240px;
    padding: 88px 96px 0px 136px;
    background: -webkit-linear-gradient( #FFCC97, #fbd1a500);
    background: -moz-linear-gradient( #FFCC97, #fbd1a500);
    background: -o-linear-gradient( #FFCC97, #fbd1a500);
    text-align: center;
}

.index-contact-title {
    margin-bottom: 32px;
}

.index-contact a {
    display: inline;
    color: #6A1817;
}

.index-contact li {
    margin-bottom: 16px;
    color: #6A1817;
    font-size: 24px;
}

.index-contact-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
}

.index-contact-icon li:nth-child(2) {
    margin: 0 32px;
}


/* menu */


/* padding: 32px 32px 88px; */

.menu-main {
    position: relative;
}

.menu-tab-productCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.menu-tab-productCategory-item1,
.menu-tab-productCategory-item2,
.menu-tab-productCategory-item3 {
    width: 184px;
    height: 187px;
    background: url("../img/img-menu-btn-type1.png") no-repeat;
    -webkit-filter: sepia(80%);
    filter: sepia(80%);
    color: #6A1817;
    font-size: 32px;
}

.menu-tab-productCategory-item2 {
    background: url("../img/img-menu-btn-type2.png") no-repeat;
}

.menu-tab-productCategory-item3 {
    background: url("../img/img-menu-btn-type3.png") no-repeat;
}

.menu-tab-productCategory-item1:hover,
.menu-tab-productCategory-item2:hover,
.menu-tab-productCategory-item3:hover {
    filter: grayscale(0%);
}

.productCategory-item-active {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.decorativePoint {
    display: flex;
    margin: 0 32px;
}

.decorativePoint div {
    margin: 8px;
    width: 16px;
    height: 16px;
    background-color: #FFAA8B;
    border-radius: 18px;
}

.decorativePoint div:first-child {
    margin-right: 0;
}

.menu-productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-productList-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.productList-details {
    position: relative;
    padding: 32px 0;
}

.productList-details>li,
.size-buttonList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.size-buttonList {
    flex: 1;
}

.size-buttonList button {
    background-color: #EC9B7E;
}

.size-buttonList button:hover,
.size-buttonList .size-item-active {
    background-color: #A85151;
}

.productList-details h5 {
    white-space: nowrap;
    margin: 0 8px;
}

.price {
    height: 50px;
}


/* cart */

.cart-cartList-item {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #FEDB89;
    border-radius: 18px;
    margin: 10px 0;
    padding: 32px
}

.cart-cartList-item-img {
    border-radius: 18px;
}

.cart-cartList-item-details {
    flex: 1;
    padding-left: 20px;
}

.cartList-details-title {
    position: relative;
    padding: 32px 0;
    text-align: center;
}

.btn-delete {
    position: absolute;
    top: 50%;
    right: 3%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.cartList-details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px 0;
}

.cartList-detailsL li,
.cartList-detailsR div {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.cartList-detailsR div {
    margin: 32px 0;
}

.cartList-detailsL .size .btn-count-numTxt {
    background-color: #EC9B7E;
    color: #FFF;
}

.cartList-detailsR .btn-count-numTxt {
    background-color: #FFF;
}

.cartList-details-price {
    display: flex;
    justify-content: space-around;
}

.cart-totalAmountList {
    background-color: #FFF3DB;
    border-radius: 18px;
    margin: 16px 0;
    padding: 32px;
}

.cart-totalAmountList li {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.cart-totalAmountList li:last-child {
    border-top: 1px solid #ddab71;
}

.btn-pay {
    margin: 0px 32px 0;
}

.login-from,
.register-from {
    width: 48%;
    padding: 32px;
    margin: 0 auto;
    background: -webkit-linear-gradient( rgb(255, 255, 255), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, .1));
    background: -moz-linear-gradient( rgba(255, 255, 255, .1), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, .1));
    background: -o-linear-gradient( rgba(255, 255, 255, .1), rgba(255, 255, 255, .5), rgba(255, 255, 255, .5), rgba(255, 255, 255, .1));
}

.login-username-container,
.login-password-container,
.register-username-container,
.register-password-container,
.register-confirmPassword-container {
    display: flex;
    flex-direction: column;
}

.login-from>li:first-child,
.register-from>li:first-child,
.register-from>li:nth-child(2) {
    margin-bottom: 16px;
}

.login-from>li:nth-child(2),
.register-from>li:nth-child(3) {
    margin-bottom: -8px;
}

.from-label {
    color: #6A1817;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.from-input {
    border-radius: 18px;
    padding: 16px;
    border: 1px solid #FBB265;
    font-size: 16px;
    color: #6A1817;
    background-color: #FFF3DB;
}

.from-input:focus {
    outline: 1px solid orange;
    background-color: #FFF;
}

.from-input:active {
    outline: 1px solid orange;
    background-color: #FFF;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-container a {
    width: 48%;
    margin: 8px 0 0;
    padding: 16px 0;
}

.btn-login,
.btn-register {
    width: 100%;
    background-color: #FB9169;
    border: none;
    cursor: pointer;
}

.btn-login:hover,
.btn-register:hover {
    background-color: #FFC25C;
}

.btn-container a:first {
    margin-right: 20px;
}

.login-main .bottom-decorativeLine,
.register-main .bottom-decorativeLine {
    background: none;
}


/* dynamic background  */

.bgContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-main {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient( #FEF3C9, #FFF097);
    background: -moz-linear-gradient( #FEF3C9, #FFF097);
    background: -o-linear-gradient( #FEF3C9, #FFF097);
}

.img-bg-bubble,
.img-bg-bubble2 {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 4500px;
    background: url("../img/img-bg-bubble.png") repeat-y;
    background-size: contain;
    transition: 2s;
}

.img-bg-orange,
.img-bg-orange2,
.img-bg-orange3,
.img-bg-orange4,
.img-bg-orange5,
.img-bg-orange6,
.img-bg-orange7 {
    position: absolute;
    z-index: -3;
    background: url("../img/img-bg-orange.png") no-repeat;
    background-size: cover;
    transition: 1s;
}

.img-bg-pigment,
.img-bg-pigment2,
.img-bg-pigment2::after {
    position: absolute;
    z-index: -4;
    width: 100%;
    height: 1100px;
    background: url("../img/img-bg-pigment.png") no-repeat;
    background-size: contain;
    transition: 1s;
    /* animation 參數設定 */
    animation-name: fade;
    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 10s;
    /*動畫持續時間，單位為秒*/
    animation-iteration-count: infinite;
    /*動畫次數，infinite 為無限次*/
    transition: .1s;
    opacity: 0;
}

@keyframes fade {
    0% {
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -moz-transform: translateY(0);
        opacity: .5;
    }
    50% {
        -ms-transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        opacity: 1;
    }
    100% {
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -moz-transform: translateY(0);
        opacity: .5;
    }
}

.img-bg-bubble2,
.img-bg-bubble {
    top: 0;
}

.img-bg-orange,
.img-bg-orange4,
.img-bg-orange6 {
    top: 13%;
    right: 12%;
    width: 184px;
    height: 184px;
}

.img-bg-orange4 {
    top: 45%;
    right: 1%;
}

.img-bg-orange6 {
    top: 72%;
    right: 8%;
}

.img-bg-orange2,
.img-bg-orange3 {
    bottom: 6%;
    left: 32px;
    width: 320px;
    height: 320px;
}

.img-bg-orange3 {
    top: 1%;
    right: 0;
}

.img-bg-orange5,
.img-bg-orange7 {
    bottom: -8%;
    left: 9%;
    width: 240px;
    height: 240px;
}

.img-bg-orange7 {
    bottom: 16%;
}

.img-bg-pigment {
    top: 30%;
}

.img-bg-pigment2 {
    top: 8%;
}

.img-bg-pigment2::after {
    content: "";
    top: 200%;
}


/* animated */

.animated-t,
.animated-r,
.animated-b,
.animated-l,
.animated-m {
    opacity: 0;
    transition: all 1.5s;
}

.animated-t {
    transform: translateY(50px);
}

.animated-r {
    transform: translateX(50px);
}

.animated-b {
    transform: translateY(-50px);
}

.animated-l {
    transform: translateX(-50px);
}

.fadeIn {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}